@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="home-title">Welcome to Trade Tracker!</h1>
    <p class="lead">
        Trade Tracker is a place that allows the traders at events such as craft fairs to monitor their products, the status of these products and the traders clientele.
        Trade Tracker also offers real time statistics surrounding the traders products.
    </p>
    @if (!Request.IsAuthenticated)
    {
        <p><a href="/Account/Register" class="btn btn-success btn-lg">Register! &raquo;</a></p>
    }
    else
    {
        <p><a href="/Products" class="btn btn-success btn-lg">Add some products! &raquo;</a></p>
    }
</div>